body {
    padding-top: 0;
    padding-bottom: 0;
    width:100%;
    background-size:cover;
    background-image:url('images/bg.jpg');
    background-repeat:no-repeat;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.jpg',sizingMethod='scale')";

}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
/*NAV BUTANTAN Altera a navbar do butantan*/
.navButantan {
    background-color: #4D97E0 !important;
    border-color: #4D97E0;
    border-radius: 0 !important;
}

    .navButantan .container {
        width: 100%;
        height: 60px;
        padding-left: 0;
        padding-right: 0;
    }

    .navButantan .nav a {
        font-weight: bold;
        color: #ffffff;
        font-size: 16px;
    }

    .navButantan .nav li:hover {
        background-color: #6AAB38;
    }


.navButantanLogo {
    background-color: transparent !important;
    border: 0;
    min-height:0;
    margin-bottom:0;
}

.navButantanLogo .navtitle {
    color: #2f2f2f;
    font-size: 26px;
    font-weight: normal;
    text-shadow: 0.05px 0.05px 0.05px rgba(80, 80, 80, 1);
}

.navButantanLogo .navtitle-divider {
    color: black;
    font-size: 30px;
    text-shadow: 0.05px 0.05px 0.05px rgba(80, 80, 80, 1);
}

.navButantan .navbar-right {
    margin-right: 0;
}

.navButantanLogo .imgLogo {
    max-width: 192px;
    max-height: 84px;
}
/*FIM NAV BUTANTAN*/
/*NAV BUTANTAN Altera a navbar do butantan no rodapé*/
.navRodape {
    background-color: #4D97E0 !important;
    border-color: #4D97E0;
    border-radius: 0 !important;
    height: 37px;
    margin-bottom: 10px;
    width: 100%;
}
/*---*/

.butantanCabecalho .navButantanLogo, .navButantan {
    padding-left: 5vw;
    padding-right: 5vw;
}

.butantanCabecalho .navbar-header {
    width: 100%;
}


.butantanCabecalho .listaSac {
    background-color: #C8C8C8;
    min-height:15px;
    margin-bottom:10px;
}

.butantanCabecalho .brand:hover {
    text-decoration: none;
}

.butantanCabecalho .navtitle-divider {
}

.butantanConteudo {
    padding-left: 5vw;
    padding-right: 5vw;
}

.navButantan .divider-vertical {
    height: 60px;
    margin: 0;
    border-right: 1px solid #fff;
    border-left: 1px solid #4D97E0;
}

.navButantan .nav li :hover {
    color: white;
}

.navButantan .dropdown-menu .divider {
    height: 1px;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

    .navButantan .dropdown-menu .divider:hover {
        background-color: #fff;
    }

.navButantan .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.navButantan .navbar-right .dropdown-menu:after {
    right: 10px;
    left: auto;
}

.navButantan .dropdown-menu > li > a:hover,
.navButantan .dropdown-menu > li > a:focus,
.navButantan.dropdown-menu > li > a:active {
    color: white;
    background-color: #6aab38;
}

.navButantan .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #3A9212;
}
/*background-color: #6aab38;*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3A9212;
}

.navButantan .navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (max-width: 767px) {

    .navButantan .navbar-toggle {
        border-color: #999;
        float: left;
        margin-left: 15px; 
    }
    .logo {
        text-align:center;
    }

        .navButantan .navbar-toggle:hover .icon-bar, .navButantan .navbar-toggle:active .icon-bar, .navButantan .navbar-toggle:focus .icon-bar {
            background-color: #fff;
        }


    .navButantan .divider-vertical {
        height: 1px;
        margin: 0 0;
        overflow: hidden;
        background-color: #fff;
    }

    .navButantan .dropdown-menu:hover, .navButantan .dropdown:hover {
        background-color: #4D97E0 !important;
    }

    .navButantan ul {
        width: 90%;
        padding: 0;
        margin: 5% 5%;
    }

    .logoMobile .imgLogo {
        height: 60px;
        margin-left: -30px;
    }

    .logoMobile {
        background-color: #eaeaea;
        width: 100%;
    }

    .navbar {
        padding: 0 15px 0 15px;
    }

    .navButantan .dropdown-menu {
        position: relative;
    }
}

.inline-block {
    display: inline-block;
}

label[for]:hover {
    cursor: pointer;
}

label[for=""]:hover {
    cursor: default;
}

.navButantan .dropdown-menu {
    background-color: #4D97E0;
    border: 1px solid #4D97E0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}



.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #fff;
    background-color: #6aab38;
    border-color: rgb(70, 178, 21);
}

.pagination > li > a, .pagination > li > span {
    color: #fff;
    background-color: #4D97E0;
    border: 1px solid rgb(70, 178, 21);
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    font-weight: bold;
    color: #fff;
    cursor: default;
    background-color: rgb(58, 146, 18);
    border-color: rgb(70, 178, 21);
}

table.grid-table tr.grid-row-selected td {
    background: rgb(106, 171, 56) !important;
    color: white;
}
table.grid-table tr.grid-row-selected td .checkbox input[type="checkbox"]:checked + label::before{
   border-color: white ;    
}
.perfis-list ul ,.perfis-list li{
    list-style: none;
    padding: 0;
    margin: 3px 0;
}
.perfis-list ul li {
    margin: 4px 0 4px 25px;
}
.perfis-list ul li p{
    margin-left: 23px;
    width: auto;   
}
.perfis-list li i{
    padding: 6px;
}
.perfis-list span{
    background-color:rgba(224, 224, 224, 0.91);
    padding: 5px;
}


   .required::after {
       content:'*';
       margin-left:5px;
       color:red;
   }


/** #### INPUT FILE ####**/
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
/** ########**/

/**######## Ajuste de mobile #########*/

@media (max-width: 767px) {
   .navButantan .navbar-collapse{
    margin: 0;
    padding: 0;
    width: 70%;
    position: absolute;
    left: 0;
    height: auto;
   }
   .navButantan .navbar-collapse > ul{
    width: 100%;
    margin: 0;
    padding: 2% !important;
   }
   
}
.navButantan .navbar-collapse{
    margin: 0;
    padding: 0;
    z-index: 2147483647;
    background-color: #4D97E0 !important;
}
.navButantan ul {
    padding:0;
    margin:0;
} 
/** ########**/
.icon-25 {
    width:25px;
}
.icon-center {
    text-align:center;
}
.oculto {
    display:none;
}
/***
    Custom List Item
*/
.list-group {
	overflow: hidden;
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
}
.list-group-item:first-child, .list-group-item:last-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
}
.list-group-item {
	border-left: 0px solid rgb(221, 221, 221);
	border-right: 0px solid rgb(221, 221, 221);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.list-group-item > .show-menu {
	position: absolute;
	height: 100%; width:24px;
	top: 0px; right: 0px;
	background-color: rgba(51, 51, 51, 0.2);
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.list-group-item > .show-menu > span {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	padding: 0px 5px;
}
.list-group-submenu {
	position: absolute;
	top: 0px;
	right: -500px;
	white-space: nowrap;
	list-style: none;
	padding-left: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.list-group-submenu .list-group-submenu-item {
	float: right;
	white-space: nowrap;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: rgb(51, 51, 51);
	color: rgb(235, 235, 235);
}
.list-group-item.open {
	margin-left: -88px;
}
.list-group-item.open > .show-menu {
	right: 88px;
}
.list-group-item.open .list-group-submenu{
	right: 0px;
}
.list-group-submenu .list-group-submenu-item.primary {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 118, 177);
}
.list-group-submenu .list-group-submenu-item.success {
	color: rgb(255, 255, 255);
	background-color: rgb(92, 184, 92);
}
.list-group-submenu .list-group-submenu-item.info {
	color: rgb(255, 255, 255);
	background-color: rgb(57, 179, 215);
}
.list-group-submenu .list-group-submenu-item.warning {
	color: rgb(255, 255, 255);
	background-color: rgb(240, 173, 78);
}
.list-group-submenu .list-group-submenu-item.danger {
	color: rgb(255, 255, 255);
	background-color: rgb(217, 83, 79);
}

.list-group-submenu .list-group-submenu-item.primary:hover {
	color: rgb(255, 255, 255);
	background-color: #286090;
}
.list-group-submenu .list-group-submenu-item.success:hover {
	color: rgb(255, 255, 255);
	background-color: #449d44;
}
.list-group-submenu .list-group-submenu-item.info:hover {
	color: rgb(255, 255, 255);
	background-color: #31b0d5;
}
.list-group-submenu .list-group-submenu-item.warning:hover {
	color: rgb(255, 255, 255);
	background-color: #d58512;
}
.list-group-submenu .list-group-submenu-item.danger:hover {
	color: rgb(255, 255, 255);
	background-color: #c9302c;
}

.list-group-submenu-item a {
    text-decoration:none;
    color: rgb(255, 255, 255);
}
.list-group-submenu-item a:hover, .list-group-submenu-item a:active ,.list-group-submenu-item a:any-link , .list-group-submenu-item a:visited{
    text-decoration:none;
    color: rgb(255, 255, 255) ;
}
.box-shadow {
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.79);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.79);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.79);
}
/**
Smiley Blocks
    
    <div class="row">
                                <div class="text-center col-md-12 smileSelect">
                                    <div class="floatleft bloco" rel="1">
                                        <div class='smiley-red floatleft'>
                                            <div class='left-eye'></div>
                                            <div class='right-eye'></div>
                                            <div class='smile'></div>
                                        </div>
                                        <div class='legenda red'>Ruim</div>
                                    </div>
                                    <div class="floatleft bloco " rel="2">
                                        <div class='smiley-yellow floatleft'>
                                            <div class='left-eye'></div>
                                            <div class='right-eye'></div>
                                            <div class='smile'></div>
                                        </div>
                                        <div class='legenda orange'>Bom</div>
                                    </div>

                                    <div class="floatleft bloco" rel="3">
                                        <div class='smiley-green floatleft'>
                                            <div class='left-eye'></div>
                                            <div class='right-eye'></div>
                                            <div class='smile'></div>
                                        </div>
                                        <div class='legenda green'>Excelente</div>
                                    </div>
                                    
                                </div>
                            </div>

        
**/

    .floatleft {
        display: inline-block;
    }

    .floatleft.bloco {
        margin: 5px;
        cursor: pointer;
    }
    

    [class^="smiley-"] {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        /*margin-right: 20px;*/
        border: 5px solid #dfdfdf;
        background: #efefef;
    }

        [class^="smiley-"] .legenda {
            position: absolute;
            bottom: 0;
            display: block;
            text-align: center;
        }

    .smiley-green {
        position: relative;
    }

    .floatleft.bloco.ativo .smiley-green {
        border: 5px solid #84b458;
    }

    .floatleft.bloco:hover .smiley-green {
        border: 5px solid #84b458;
    }

    .floatleft.bloco:hover .legenda.green, .floatleft.bloco.ativo .legenda.green {
        color: #84b458;
    }

    .smiley-green .left-eye {
        width: 18%;
        height: 18%;
        background: #d2eeb8;
        position: relative;
        top: 29%;
        left: 22%;
        border-radius: 50%;
        float: left;
    }

    .floatleft.bloco.ativo .smiley-green .left-eye {
        background: #84b458;
    }

    .floatleft.bloco:hover .smiley-green .left-eye {
        background: #84b458;
    }

    .smiley-green .right-eye {
        width: 18%;
        height: 18%;
        border-radius: 50%;
        position: relative;
        background: #d2eeb8;
        top: 29%;
        right: 22%;
        float: right;
    }

    .floatleft.bloco.ativo .smiley-green .right-eye {
        background: #84b458;
    }

    .floatleft.bloco:hover .smiley-green .right-eye {
        background: #84b458;
    }

    .smiley-green .smile {
        position: absolute;
        top: 67%;
        left: 16.5%;
        width: 70%;
        height: 20%;
        overflow: hidden;
    }

    .smiley-green .smile:after, .smiley-green .smile:before {
        content: "";
        position: absolute;
        top: -50%;
        left: 0%;
        border-radius: 50%;
        background: #d2eeb8;
        height: 100%;
        width: 97%;
    }

    .floatleft.bloco.ativo .smiley-green .smile:before {
        background: #84b458;
    }

    .smiley-green .smile:after {
        background: #d2eeb8;
        height: 80%;
        top: -40%;
        left: 0%;
    }

    .floatleft.bloco.ativo .smiley-green .smile:after {
        background: #84b458;
    }

    .floatleft.bloco:hover .smiley-green .smile:after {
        background: #84b458;
    }


    .smiley-yellow {
        position: relative;
    }

    .floatleft.bloco.ativo .smiley-yellow {
        border: 5px solid #dba652;
    }

    .floatleft.bloco:hover .smiley-yellow {
        border: 5px solid #dba652;
    }

    .floatleft.bloco:hover .legenda.orange, .floatleft.bloco.ativo .legenda.orange {
        color: #dba652;
    }

    .smiley-yellow .left-eye {
        width: 18%;
        height: 18%;
        background: #ffdaa0;
        position: relative;
        top: 29%;
        left: 22%;
        border-radius: 50%;
        float: left;
    }

    .floatleft.bloco.ativo .smiley-yellow .left-eye {
        background: #dba652;
    }

    .floatleft.bloco:hover .smiley-yellow .left-eye {
        background: #dba652;
    }

    .smiley-yellow .right-eye {
        width: 18%;
        height: 18%;
        border-radius: 50%;
        position: relative;
        background: #ffdaa0;
        top: 29%;
        right: 22%;
        float: right;
    }

    .floatleft.bloco.ativo .smiley-yellow .right-eye {
        background: #dba652;
    }

    .floatleft.bloco:hover .smiley-yellow .right-eye {
        background: #dba652;
    }

    .smiley-yellow .smile {
        position: absolute;
        top: 67%;
        left: 19%;
        width: 65%;
        height: 10%;
        background: #ffdaa0;
        overflow: hidden;
        border-radius: 8px;
    }

    .floatleft.bloco.ativo .smiley-yellow .smile {
        background: #dba652;
    }

    .floatleft.bloco:hover .smiley-yellow .smile {
        background: #dba652;
    }

    .smiley-red {
        position: relative;
    }

    .floatleft.bloco:hover .legenda.red, .floatleft.bloco.ativo .legenda.red {
        color: #d96065;
    }

    .floatleft.bloco.ativo .smiley-red {
        border: 5px solid #d96065;
    }

    .floatleft.bloco:hover .smiley-red {
        border: 5px solid #d96065;
    }

    .smiley-red .left-eye {
        width: 18%;
        height: 18%;
        background: #ffc1c4;
        position: relative;
        top: 29%;
        left: 22%;
        border-radius: 50%;
        float: left;
    }

    .floatleft.bloco.ativo .smiley-red .left-eye {
        background: #d96065;
    }

    .floatleft.bloco:hover .smiley-red .left-eye {
        background: #d96065;
    }

    .smiley-red .right-eye {
        width: 18%;
        height: 18%;
        border-radius: 50%;
        position: relative;
        background: #ffc1c4;
        top: 29%;
        right: 22%;
        float: right;
    }

    .floatleft.bloco.ativo .smiley-red .right-eye {
        background: #d96065;
    }

    .floatleft.bloco:hover .smiley-red .right-eye {
        background: #d96065;
    }

    .smiley-red .smile {
        position: absolute;
        top: 57%;
        left: 16.5%;
        width: 70%;
        height: 20%;
        overflow: hidden;
    }

        .smiley-red .smile:after, .smiley-red .smile:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0%;
            border-radius: 50%;
            background: #ffc1c4;
            height: 100%;
            width: 97%;
        }

    .floatleft.bloco.ativo .smiley-red .smile:before {
        background: #d96065;
    }

    .smiley-red .smile:after {
        background: #ffc1c4;
        height: 80%;
        top: 60%;
        left: 0%;
    }

    .floatleft.bloco.ativo .smiley-red .smile:after {
        background: #d96065;
    }

    .floatleft.bloco:hover .smiley-red .smile:after {
        background: #d96065;
    }
    .floatleft.bloco.nohover {
        cursor: default;
    }
    .floatleft.bloco.nohover:hover [class^="smiley-"] {
        cursor: default;
        border-color: #dfdfdf;
        background: #efefef;
    }
    .floatleft.bloco.nohover:hover .smiley-red .smile:after {
        background: #ffc1c4;
    }
    .floatleft.bloco.nohover:hover .smiley-red .left-eye {
        background: #ffc1c4;
    }
    .floatleft.bloco.nohover:hover .smiley-red .right-eye {
        background: #ffc1c4;
    }
    .floatleft.bloco.nohover:hover .smiley-green .smile:after {
        background: #d2eeb8;
    }
    .floatleft.bloco.nohover:hover .smiley-green .left-eye {
        background: #d2eeb8;
    }
    .floatleft.bloco.nohover:hover .smiley-green .right-eye {
        background: #d2eeb8;
    }
    
    .floatleft.bloco.nohover:hover .smiley-yellow .smile {
        background: #ffdaa0;
    }
    .floatleft.bloco.nohover:hover .smiley-yellow .left-eye {
        background: #ffdaa0;
    }
    .floatleft.bloco.nohover:hover .smiley-yellow .right-eye {
        background: #ffdaa0;
    }
    .floatleft.bloco.nohover:hover .legenda.red {
        color: black;
    }
    .floatleft.bloco.nohover:hover .legenda.green{
        color: black;
    }
    .floatleft.bloco.nohover:hover .legenda.orange{
        color: black;
    }
    
    .chosen-full-width  .search-choice {
        width:100%;
        max-width:100%;
    }
    .form-control.full {
        width:100%;
        max-width:100%;
    }
    
    /******
        NESTABLE
    */
    .dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px
}
.dd.dd-alternate .dd-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #52b043;
    cursor: move;
    background: #52b043;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}
.dd.dd-alternate .dd-handle:hover {
    background: #52b043;
    border: 1px solid #52b043
}
.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none
}
.dd-list .dd-list {
    padding-left: 30px
}
.dd-collapsed .dd-list {
    display: none
}
.dd-empty,
.dd-item,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px
}
.dd-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #69c15b;
    cursor: move;
    background: #84cc79;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}
.dd-handle:hover {
    color: #fff;
    background: #52b043;
    border: 1px solid #52b043
}
.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: 0 0;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    outline: 0;
    color: #fff
}
.dd-item>button:before {
    content: "\f196";
    font-family: FontAwesome;
    font-size: 14px;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0
}
.dd-item>button[data-action=collapse]:before {
    content: "\f147"
}
.dd-empty,
.dd-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}
.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px
}
.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999
}
.dd-dragel>.dd-item .dd-handle {
    margin-top: 0
}
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1)
}
.nestable-lists {
    display: block;
    clear: both;
    width: 100%;
    border: 0
}
@media only screen and (min-width: 700px) {
    .dd+.dd {
        margin-left: 2%
    }
}
.dd-hover>.dd-handle {
    background: #52b043
}
.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #69c15b;
    background: #84cc79;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}
.dd3-content:hover {
    color: #fff;
    background: #52b043;
    border: 1px solid #52b043
}
.dd-dragel>.dd3-item>.dd3-content {
    margin: 0
}
.dd3-item>button {
    margin-left: 30px
}
.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #52b043;
    background: #69c15b;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.dd3-handle:before {
    content: "\f0b2";
    font-family: FontAwesome;
    font-size: 24px;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    cursor: move
}
/****
    FIM NESTABLE
*/
.p-laranja {
padding:5px;border:1px solid rgba(220, 212, 110, 0.79);border-radius:4px;
}
.p-laranja i{
margin:5px;font-size:48px;
color:#a59a46;   
}
.p-azul {
padding:5px;border:1px solid rgba(110, 169, 220, 0.79);border-radius:4px;
}
.p-azul i {
 margin:5px;font-size:48px;color:#4670A5;   
}

.next , .prev ,th.datepicker-switch{
cursor:pointer;
}

.grid-filter-datepicker > .datepicker-inline {
    padding:0;
    width:225px;
}

.black {
        color: black;
    }

        .black:hover {
            color: #4D97E0;
        }
       .notificacao{ position: relative;
                     pointer-events:auto;
top: -16px;
left: -13px;
z-index: 999999;
background: black;
border-radius: 50%;
text-align: center;
vertical-align: middle;
color: white;
width: 20px;
height: 20px;
display: inline-block;
line-height: 20px;}
      
       .black:hover > .notificacao:hover     {
        background: #4D97E0;
        }
        .black:hover .notificacao {
            background: #4D97E0;
        }
    .clear {
    position: relative;
top: -21px;
color: rgb(187, 0, 0);
cursor:pointer;
    }
    .clear:hover{
        color: #ff0000;
    }
    .grid-header  .datepicker {
        padding:0 !important;
    }
    

    select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}
 
select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}
 
select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;
 
}
 
select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
    max-width: 100%;
}
 
select.form-control + .chosen-container .chosen-results {
    margin: 0;
    padding: 2px;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 0;
}
 
select.form-control + .chosen-container .chosen-results li , 
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover, 
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #4D97E0;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice:hover {
   background-color: #f3f3f3;
}
select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}
 
select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}
 
select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

.list-group > li:nth-of-type(even){
    background-color:#eee;   
}
.clear-fix {
    clear:both;
}
.form-horizontal .form-group,
.form-group{
    margin-left:0;
    margin-right:0;
}

.navButantan .side-nav a  {
    font-size:12px;
}

.navButantan .side-nav .dropdown-menu li a {
    -ms-word-break: normal;
    word-break: normal;
    word-spacing: normal;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

/*Implementação home*/
 .dashboard .box {
        border-radius: 3px;
        cursor:pointer;
        /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.20);*/
        border: 1px solid #CCC;
        padding: 10px 25px;
        text-align: right;
        display: block;
        margin-top: 20px;
        color:black;
    }
    .dashboard .box:hover {
        border: 1px solid  #4D97E0;
        color:black;
        text-decoration:none;
    }
    .dashboard .box:hover .box-icon , .dashboard .box:hover p {
        color:#6AAB38;
    }
    .dashboard .box:hover h4 {
        color: #3A9212;  
    }
    .dashboard .info h4 {
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

   .dashboard .info > p {
        color: #717171;
        font-size: 16px;
        padding-top: 10px;
        text-align: center;
    }
    .dashboard .info > p:FIRST-CHILD {
        text-align: center;
    }
    .dashboard .info > p > a {
        background-color: #4D97E0;
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
   .dashboard .info > p > a:hover {
        background-color: #6AAB38;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
   /*fim*/
    .pull-right > .chosen-container{
        float:right !important;
    }

    
     .validation-summary-valid {
            display: none !important;
        }
.navButantan.transparente ,.navButantan.transparente .container,  div.navbar-default.navButantan.transparente > nav > div{
    background-color: transparent !important ;
}
.langSelect {
    height:100%;
    position:absolute;
    top:63px;
    right:0;
    display:inline-block;
}
.logo-row [class^=col]:last-of-type 
{
    padding-right:0;
}
.logo-row.row-fluid > div.col-md-4 > div > ul > li.dropdown > a,.logo-row.row-fluid .dropdown-menu
{
    color: #555;
}
.logo-row.row-fluid > div.col-md-4 > div > ul > li.dropdown > a:hover,.logo-row.row-fluid > div.col-md-4 > div > ul > li.dropdown.open > a
{
    color: #555;
}
.logo-row.row-fluid > div.col-md-4 > div > ul > li.dropdown.open > a
{
    background-color:transparent;
}
.logo-row.row-fluid > div.col-md-4 > div > ul > li.dropdown.open > ul > li >a 
{
    color:black;
}
body > div.butantanCabecalho > div > div > div.logo-row.row-fluid > div.col-md-4 > div > ul > li.dropdown > ul
{
    margin-top:-1px;
}


.form-control.full-width 
{
    max-width:100%;
}
.chosen-container > ul > li > span{
    overflow:hidden;
    display:block;
}