<label for="dataD">Data</label><br/>
<input id="dataD" type="text" class="datepic"/>
<script>
    $(function () {
        $(".datepic").datepicker();
    });
</script>
<p>
    <pre>
        <code>
                < label for="dataD">Data</label>< br />
                < input id="dataD" type="text" class="datepic" />
                 $(function () {
                    $(".datepic").datepicker();
                });
        </code>
    </pre>
</p>